<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="navbar">
    <a th:href="@{/livros}">📚 Mini Biblioteca</a>

    <span sec:authorize="isAuthenticated()">
        <a th:href="@{/favoritos}">Favoritos</a>
        <a th:href="@{/compras}">Minhas compras</a>
        <a th:href="@{/perfil}">Meu Perfil</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/livros}">Painel Admin</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/dashboard}">Dashboard</a>

        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit">Sair</button>
        </form>
    </span>

    <span sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Entrar</a>
        <a th:href="@{/registro}">Criar conta</a>
    </span>

    <button id="botao-tema" type="button" onclick="alternarTema()">🌙</button>
</nav>